@font-face{font-family: 'SpaceGrotesk'; src: url(SpaceGrotesk-Medium.ttf)}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SpaceGrotesk'; /*CHANGE*/
}

body{
    background-color: #1a1a1a;
    color: #ffff;
    text-align: center;
    padding: 2em;
}

.container{
    width: 21.87em;
    display: grid;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #ffff;
    align-items: center;
    grid-template-columns: 8fr 4fr;
    background: rgb(181,96,238);
    background: linear-gradient(90deg, rgba(181,96,238,1) 0%, rgba(253,77,29,1) 50%, rgba(252,174,65,1) 100%);
    border-radius: 0.5em;
}

.clock-container{
    background-color: #1a1a1a;
    color: #ffff;
    text-align: center;
    font-size: 3.75em;
    margin-left: 0.2em;
    border-radius: 0.1em;
    padding: 0.2em 0;
}

.date-container{
    padding: 1em 0;
    background: #fd6927;
    color: #ffff;
    text-align: center;
    border-radius: 0.5em;
}

.date-container span{
    font-size: 2.5em;

}