*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*CHANGE*/
}

body{
    background-color: #1a1a1a;
}

.container{
    width: 21.87em;
    display: grid;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: #ffff;
    align-items: center;
    grid-template-columns: 8fr 4fr;
    background-color: aquamarine;
    border-radius: 0.5em;
}

.clock-container{
    background-color: #1a1a1a;
}